<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Thank you for your business!</h1>
    <p>We charged your credit card for {{ request.session.add_to_cart_str }}</p>
    <p>You have ordered {{ request.session.item_count_str }} items so far and spent {{ request.session.total_price }} with Amadon.com!</p>
    <a href="/">Go back</a>
</body>
</html>